Repository guitarbeat/gantt: changes, and which pre-commit hooks are due for each by the changed paths.
All: goimports, gofmt, go-mod-tidy, go-vet, go-test

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: goimports
        name: goimports
        entry: goimports
        language: system
        args: [-w]
        files: \.go$
        
      - id: gofmt
        name: gofmt
        entry: gofmt
        language: system
        args: [-s, -w]
        files: \.go$
        
      - id: go-mod-tidy
        name: go mod tidy
        entry: go
        language: system
        args: [mod, tidy]
        files: go\.(mod|sum)$
        
      - id: go-vet
        name: go vet
        entry: go
        language: system
        args: [vet, ./...]
        files: \.go$
        
      - id: go-test
        name: go test
        entry: go
        language: system
        args: [test, ./src/...]
        files: \.go$

feat: Redesign task index and add PDF preview system
  PREVIEW_IMAGES_SETUP.md
  configs/base.yaml
  docs/WORK_SUMMARY.md
  scripts/README_PREVIEW.md
  scripts/SETUP_PREVIEW.md
  scripts/build_and_preview.ps1
  scripts/pdf_to_images.py
  src/app/generator.go
  src/calendar/calendar.go
Due: goimports, gofmt, go-vet, go-test

chore: enhance .gitignore with additional patterns for coverage, Python cache, and node modules
  .gitignore
Due: none

docs: add comprehensive troubleshooting guide
  docs/TROUBLESHOOTING.md
Due: none

feat: add progress indicators to build process with visual feedback
  DEPLOYMENT_SUMMARY.md
  REPOSITORY_IMPROVEMENTS.md
  go.mod
  go.sum
  src/app/generator.go
Due: goimports, gofmt, go-mod-tidy, go-vet, go-test

feat: improve error messages with context and actionable suggestions
  src/app/generator.go
  src/core/reader.go
Due: goimports, gofmt, go-vet, go-test

chore: add pre-commit hooks configuration and Makefile for development workflow
  .pre-commit-config.yaml
  Makefile
  docs/PRE_COMMIT_SETUP.md
Due: none

docs: reorganize documentation structure and add comprehensive guides
  docs/DEPLOYMENT_SUMMARY.md
  docs/DEVELOPER_GUIDE.md
  docs/PREVIEW_SYSTEM.md
  docs/README.md
  docs/REPOSITORY_IMPROVEMENTS.md
  docs/SETUP.md
  docs/USER_GUIDE.md
Due: none

docs: add completion summary for all quick wins and improvements
  docs/IMPROVEMENTS_COMPLETED.md
Due: none

docs: update README with recent improvements and documentation links
  README.md
Due: none

feat: add CI/CD pipeline, linting configuration, and comprehensive unit tests
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .golangci.yml
  Makefile
  src/calendar/calendar_test.go
  src/core/reader_test.go
Due: goimports, gofmt, go-vet, go-test

test: fix unit tests to match actual implementation behavior
  src/calendar/calendar_test.go
  src/core/reader_test.go
Due: goimports, gofmt, go-vet, go-test

docs: remove REPOSITORY_IMPROVEMENTS.md after completing all quick wins
  docs/REPOSITORY_IMPROVEMENTS.md
Due: none

docs: organize documentation into fyi (reference) and tasks (how-to) folders
  README.md
  docs/README.md
  docs/fyi/CODE_QUALITY.md
  docs/fyi/DEPLOYMENT_SUMMARY.md
  docs/fyi/IMPROVEMENTS_COMPLETED.md
  docs/fyi/PREVIEW_SYSTEM.md
  docs/fyi/WORK_SUMMARY.md
  docs/tasks/DEVELOPER_GUIDE.md
  docs/tasks/PRE_COMMIT_SETUP.md
  docs/tasks/SETUP.md
  docs/tasks/TROUBLESHOOTING.md
  docs/tasks/USER_GUIDE.md
Due: none

docs: add consumable folder for one-time checklists that should be deleted after completion
  README.md
  docs/README.md
  docs/consumable/FIRST_CONTRIBUTION_CHECKLIST.md
  docs/consumable/INITIAL_SETUP_CHECKLIST.md
  docs/consumable/README.md
Due: none

refactor: update table column definitions in calendar.go for improved layout and alignment
  src/calendar/calendar.go
Due: goimports, gofmt, go-vet, go-test

chore: update CHANGELOG and release index for version 5.1.1 with new task index features and LaTeX improvements
  CHANGELOG.md
  releases/INDEX.md
  scripts/build_release.sh
  src/app/generator.go
Due: goimports, gofmt, go-vet, go-test

docs: remove completed consumable checklists and update README to reflect current documentation structure
  .config/README.md
  .config/dev/environment.conf
  .config/git/attributes
  .config/git/config
  .config/git/ignore
  .config/ide/vscode/extensions.json
  .config/ide/vscode/launch.json
  .config/ide/vscode/settings.json
  .config/scripts/config-manager.sh
  .env.dev
  .gitattributes
  CONFIGURATION_GUIDE.md
  Makefile
  PROJECT_STRUCTURE.md
  QUICK_NAVIGATION.md
  dev.sh
  docs/README.md
  docs/archive/fifth_year_phd_requirements_and_research_timeline.pdf
  docs/archive/lab_meeting_summary.pdf
  docs/archive/spie_chapter_annual_report_and_grant_application_timeline_2025_2026.pdf
  docs/consumable/FIRST_CONTRIBUTION_CHECKLIST.md
  docs/consumable/INITIAL_SETUP_CHECKLIST.md
  docs/consumable/README.md
  docs/examples/base.yaml
  docs/fyi/COMPLETED_WORK_HISTORY.md
  docs/fyi/DEPLOYMENT_SUMMARY.md
  docs/fyi/IMPROVEMENTS_COMPLETED.md
  docs/fyi/WORK_SUMMARY.md
  scripts/cleanup_and_organize.sh
Due: none

docs: update repository URLs in developer and user documentation for consistency and clarity
  docs/developer/developer-guide.md
  docs/user/setup.md
  docs/user/user-guide.md
Due: none

test: improve variable naming in reader tests
  tests/unit/reader_test.go
Due: goimports, gofmt, go-vet, go-test

chore: update VSCode settings to remove default formatter and modify research timeline CSV for improved task organization
  .vscode/settings.json
  input_data/research_timeline_v5.1_comprehensive.csv
Due: none

refactor: enhance layout engine configuration by adding default settings for multipliers, task rendering, typography, grid constraints, and calendar layout
  src/core/config.go
Due: goimports, gofmt, go-vet, go-test

chore: update golangci-lint configuration by replacing deprecated linters, adjusting output formats, and modifying lint command for better path handling
  .golangci.yml
  Makefile
Due: none

Improve code quality: extract constants, refactor functions, add documentation
  .gitignore
  .golangci.yml
  Makefile
  PROJECT_STRUCTURE.md
  coverage.html
  docs/examples/base.yaml
  src/app/generator.go
Due: goimports, gofmt, go-vet, go-test

chore: enhance .gitignore for better organization, update Makefile for improved command structure, and add coverage analysis features in generator.go
  Makefile
  coverage.html
  src/app/generator.go
  src/core/colors.go
Due: goimports, gofmt, go-vet, go-test

chore: enhance .gitignore for hot-reloading and coverage files, update Makefile with new development commands, and implement comprehensive CSV and configuration validation in core
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/nightly.yml
  .github/workflows/prerelease-validation.yml
  .github/workflows/release.yml
  .gitignore
  .goreleaser.yaml
  .goreleaser.yml
  Dockerfile.dev
  Makefile
  coverage.html
  docker-compose.yml
  docs/developer/developer-guide.md
  docs/reference/configuration-management.md
  go.mod
  go.sum
  src/app/cli.go
  src/app/generator.go
  src/app/generator_bench_test.go
  src/app/template_funcs.go
  src/core/config_manager.go
  src/core/presets/academic.yaml
  src/core/reader_bench_test.go
  src/core/validation.go
  src/shared/templates/rendering.go
  tests/unit/app/generator_test.go
Due: goimports, gofmt, go-mod-tidy, go-vet, go-test

chore: update .goreleaser configuration to reflect project name change from phd-dissertation-planner to gantt, and adjust Docker image references accordingly
  .goreleaser.yaml
  .goreleaser.yml
Due: none

refactor: adjust weekly calendar text formatting and remove obsolete generator tests
  TODO.md
  src/calendar/calendar.go
  tests/unit/app/generator_test.go
  tests/unit/generator_test.go
Due: goimports, gofmt, go-vet, go-test

chore: update golangci-lint configuration to enhance linting rules, adjust output formats, and improve CI/CD workflow with comprehensive testing and coverage checks
  .github/dependabot.yml
  .github/workflows/ci.yml
  .golangci.yml
  .goreleaser.yml
  TODO.md
  docs/reference/api-reference.md
  src/app/generator_bench_test.go
  src/app/template_funcs_test.go
  src/calendar/calendar_test.go
  src/core/color_utils_test.go
Due: goimports, gofmt, go-vet, go-test

feat: Add Cursor CLI pre-commit hooks integration
  Makefile
  docs/developer/pre-commit-setup.md
  scripts/dev/git-hook-pre-commit
  scripts/dev/install-cursor-hooks.sh
Due: none

feat: Add comprehensive Cursor CLI integration suite
  .cursor/config.yaml
  .github/workflows/cursor-ai-enhancement.yml
  Makefile
  scripts/dev/cursor-dev-tools.sh
  scripts/dev/cursor-simple.sh
  scripts/dev/cursor-test-enhancer.sh
Due: none

feat: Enhance Makefile with new Cursor CLI development and testing commands
  code_review_20251019_224157.md
  comprehensive
  docs/developer/cursor-cli-integration.md
  examples
  usage
Due: none

feat: Major repository consolidation and minimization
  CONSOLIDATION_SUMMARY.md
  Makefile
  README.md
  configs/consolidated.yaml
  scripts/test-runner.sh
  scripts/unified.sh
Due: none
